<h1>About me</h1>
<p>Follow me on LinkedIn!</p>
<section></section>

<button type="button" class="btn btn-social btn-linkedin button">
  <span class="fa fa-linkedin"></span>
  <%= link_to "Follow me", "https://www.linkedin.com/in/shangming-cherng-297a0a48/", class:"social-btn" %>
</button>
